@charset "utf-8";
#praent{
    width: 66%;
    height: auto;
    margin:0 auto;
    /*margin:10px 100px 15px 200px;*/
    text-align:center
}
#list_div{
    width: 900px;
    /*height: 350px;*/
    margin: 0px auto;
    /*border-top: 3px dashed #1ee829;*/
    /*border-bottom: 20px double #ff0000;*/
    /*border-bottom: 8px groove #ce6a1f;*/
    /*border-left: 10px solid #ffd800;*/
    /*border-right: 16px groove #ce6a1f;*/
}
#li_user_left{
    width: 180px;
    text-align: left;
    float: left;
}
#li_con_right,ap_mess{
    width: 700px;
    text-align: left;
    float: left;
}
#con_right_top{
    text-align: right;
}
#con_right_mid{

}
#con_right_but{
    text-align: right;
}
#ap_maess_user{
    text-align: left;
}
#mlist{

}
#npub_but{
    width: 900px;
    height: 160px;
    margin: 100px 0 0 0;
    border: double #ffd800;
    text-align: right;
    float: right;
}